/vendor/
node_modules/
app/storage/
bootstrap/compiled.php
public/storage
public/hot
public_html/storage
public_html/hot
Homestead.yaml
Homestead.json


npm-debug.log
yarn-error.log
package-lock.json
database_product.sqlite
composer.lock
yarn.lock



.phpunit.result.cache
.editorconfig
.env
